:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --primary-color: #ff00ff;
    --secondary-color: #00ffff;
    --accent-color: #ffff00;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0 auto;
    padding: 0;
    width: 1280px;
}

body.light-mode {
    --bg-color: #ffffff;
    --text-color: #000000;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    width: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#theme-toggle {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--bg-color);
    font-weight: bold;
}
